<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Discord Bot Manager - Plugin</title>
        <th:block th:replace="~{../fragments/headerEssentials :: headerEssentials}"></th:block>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>

        <th:block th:replace="~{../fragments/navbar :: navbar}"></th:block>

        <th:block th:replace="~{../fragments/sidebar :: sidebar}"></th:block>

        <main id="mainContent" class="content">
            <div class="container-fluid py-4">

                <th:block th:replace="~{../fragments/section :: section (name='Plugin')}"></th:block>

                <div class="row g-3 mb-5">


                </div>

            </div>
        </main>

        <th:block th:replace="~{../fragments/footerEssentials :: footerEssentials}"></th:block>
        <script src="/js/app.js"></script>

    </body>
</html>
